tensorflow==2.13.0
tensorflow-io
matplotlib==3.7.2
Pillow==10.0.0
ipython==8.13.0
keras==2.13.1
imageio==2.31.1
moviepy
graphviz
pydot
scikit-image
kiwisolver==1.4.4
opencv-python==4.8.0.74
scikit-learn==1.3.0
tensorflow-model-optimization==0.7.5
