tensorflow-io==0.36.0
matplotlib==3.7.4
Pillow==10.3.0
ipython==8.13.0
imageio==2.33.1
graphviz
pydot==2.0.0
scikit-image~=0.21.0
kiwisolver==1.4.5
opencv-python==4.8.1.78
tensorflow-model-optimization==0.8.0
tf2onnx==1.16.1